
<form [formGroup]="registerForm">
<div class="mt-5 box">
    <div class="col-md-12">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" class="form-control" id="regEmail">
    </div>
    <div class="col-md-12">
      <label for="inputPassword4" class="form-label">Password</label>
      <input type="password" class="form-control" id="regPass">
    </div>
    <div class="col-md-12">
        <label for="inputPassword4" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="regConfPass">
      </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Address</label>
      <input type="text" class="form-control" id="regAddress" placeholder="1234 Main St">
    </div>
    <div class="col-md-12">
      <label for="inputCity" class="form-label">City</label>
      <input type="text" class="form-control" id="regCity">
    </div>
    &nbsp;
    <div class="col-12">
      <button type="submit" class="btn btn-primary" style="">Regiser</button>
    </div>
</div>
</form>