
<table class="table table-striped" >
    <thead class="thead-dark">
      <h3> <label  class="form-label" > Branches</label> </h3>
        <tr>
          <th>Branch Id</th>
          <th>Open At</th>
          <th>Close At</th>
        </tr>
      </thead>
      <tbody>
        <tbody>
            <tr *ngFor = "let item of branchsList">
                <td><span>{{item.branchName}}</span></td>
                <td><span>{{item.openAt}}</span></td>
                <td><span>{{item.closeAt}}</span></td>
            </tr>
        <tbody>
</table>

<hr>
